.button
{
    -fx-background-color: transparent;

}

.topBtn{
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-padding: 0;

}

.crudBtn{
    -fx-background-color: #5579b2;
    -fx-background-radius: 0;
    -fx-padding: 7;
    -fx-text-fill: #ededed;
}
.button:hover, .crudBtn:hover{
    -fx-background-color: #5173AA;

}

.button:pressed, .crudBtn:pressed{
    -fx-background-color: #6683B4;
}

.topBtn:hover{
    -fx-opacity: 80%;
    -fx-background-color: #DADADA;
}
.topBtn:pressed{
    -fx-background-color: #6683B4;
}


