.root{
    -fx-background-color: #ededed;
}

.button
{
    -fx-background-color: transparent;

}

.topBtn{
    -fx-background-color: transparent;
    -fx-background-radius: 0;

}

.crudBtn{
    -fx-background-color: #5579b2;
    -fx-background-radius: 0;
    -fx-padding: 7;
    -fx-text-fill: #ededed;
}
.button:hover, .crudBtn:hover{
    -fx-background-color: #5173AA;

}

.button:pressed, .crudBtn:pressed{
    -fx-background-color: #6683B4;
}

.topBtn:hover{
    -fx-background-color: #DADADA;
}

.topBtnClose:hover{
    -fx-background-color: #AF6766;
}

.topBtn:pressed{
    -fx-background-color: #6683B4;
}

.table-view {
    -fx-base: #5579b2;
    -fx-control-inner-background: #1d1d1d;
    -fx-font-weight: none;
    -fx-background-color: transparent;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: transparent;
}

.table-view .column-header, .table-view .filler {
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color:
            transparent
            transparent
            derive(-fx-base, 80%)
            transparent;
    -fx-border-insets: 0 10 1 0;
}

.table-view .column-header .label {
    -fx-font-size: 18pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: black;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}

.label-header{
    -fx-base: #5579b2;
    -fx-font-size: 20pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: black;
    -fx-alignment: center-left;
    -fx-opacity: 1;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color:
            transparent
            transparent
            derive(-fx-base, 80%)
            transparent;
    -fx-border-insets: 0 10 1 0;
}

.text-field-search{
    -fx-font-family: "Segoe UI";
    -fx-background-color: transparent;
    -fx-border-color: transparent transparent #5579b2 transparent;
    -fx-border-radius: 0;
}

.split-pane:horizontal > .split-pane-divider {
    -fx-border-color: transparent #5579b2 transparent transparent;
    -fx-border-width: 1px;
    -fx-background-color: transparent;
}

.label-detail{
    -fx-text-fill: #808080;
}

